<?xml version="1.0" encoding="UTF-8"?>

<?if $(sys.BUILDARCH) = x64 ?>
  <?define ProductUpgradeCode = "EE25F08C-3599-A764-8AB6-0E40889481B4" ?>
  <?define Win64 = "yes" ?>
  <?define PlatformSystemFolder = "System64Folder" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define Folder="64"?>
<?else ?>
  <?define ProductUpgradeCode = "E7E6A731-1D12-5823-4153-D5100B0E64CB" ?>
  <?define Win64 = "no" ?>
  <?define PlatformSystemFolder = "SystemFolder" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define Folder="32"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
	<Product Id="*" 
           Name="Hipara Mini-Filter Driver" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Allsum" 
           UpgradeCode="$(var.ProductUpgradeCode)">
		
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"  
             InstallPrivileges="elevated"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes"/>
    
		<MediaTemplate  EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Hipara" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="WixUI_Minimal" />

    <CustomAction Id="InstallDriver" 
                  Directory="HIPARA"
                  Impersonate="no"
                  Execute="deferred"
                  ExeCommand='[$(var.PlatformSystemFolder)]InfDefaultInstall.exe "[HIPARA]scanner.inf"'
                  Return='check'
                  >
    </CustomAction>
    
    <CustomAction Id="StartService" 
                  Directory="HIPARA"
                  Impersonate="no"
                  Execute="deferred"
                  ExeCommand='[$(var.PlatformSystemFolder)]sc start Scanner'
                  Return='ignore'
                  >
    </CustomAction>
    
    <CustomAction Id="LaunchHiparaEXE" 
                  Directory="HIPARA"
                  ExeCommand="[HIPARA]hipara.exe"
                  Return="asyncNoWait"
                  >
    </CustomAction>
   
    <CustomAction Id="StopService" 
                  Directory="HIPARA"
                  Impersonate="no"
                  Execute="deferred"
                  ExeCommand='[$(var.PlatformSystemFolder)]sc stop Scanner'
                  Return='ignore'
                  >
    </CustomAction>
    
    <CustomAction Id="DeleteService" 
                  Directory="HIPARA"
                  Impersonate="no"
                  Execute="deferred"
                  ExeCommand='[$(var.PlatformSystemFolder)]sc delete Scanner'
                  Return='ignore'
                  >
    </CustomAction>
    
    <CustomAction Id="UninstallDriver"
                  Directory="HIPARA"
                  Impersonate="no"
                  Execute="deferred"
                  ExeCommand='[$(var.PlatformSystemFolder)]rundll32.exe advpack.dll,LaunchINFSection "[HIPARA]scanner.inf",DefaultUninstall'
                  Return='check'
                  >
    </CustomAction>
   
    <InstallExecuteSequence>
      <Custom Action="InstallDriver" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="StartService" After="InstallDriver">NOT Installed</Custom>
      <Custom Action="LaunchHiparaEXE" After="InstallFinalize">NOT Installed</Custom>
      
      <Custom Action="StopService" After="InstallInitialize">Installed AND (REMOVE ~= "ALL")</Custom>
      <Custom Action="DeleteService" After="StopService">Installed AND (REMOVE ~= "ALL")</Custom>
      <Custom Action="UninstallDriver" After="DeleteService">Installed AND (REMOVE ~= "ALL")</Custom>
    </InstallExecuteSequence>
    
  </Product>

 	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ALLSUMFOLDER" Name="Allsum" >
          <Directory Id="HIPARA" Name="Hipara" >
            <Directory Id="SIGNATURES" Name="signatures" />
          </Directory>
        </Directory>
        </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents">

      <Component Id="SignatureFiles" Guid="953D30C9-5BAC-16AE-3AF3-6CF9F63334B0" Directory="SIGNATURES" >
        <File Id="public_crime_win_memory_pivy.yar" Name="public_crime_win_memory_pivy.yar" Source="files\public_crime_win_memory_pivy.yar" />
      </Component>
      
      <Component Id="DriverFiles" Guid="953D30C9-5BAC-16AE-3AF3-6CF9F63300B0"  Directory="HIPARA"  Win64="$(var.Win64)">
         <File Id="scanner.inf" Name="scanner.inf" Source="files\$(var.Folder)\scanner.inf" KeyPath="yes"/>
         <File Id="scanner.sys" Name="scanner.sys" Source="files\$(var.Folder)\scanner.sys"/>
         <File Id="hipara.exe" Name="hipara.exe" Source="files\$(var.Folder)\hipara.exe"/>
         <File Id="libcurl.dll" Name="libcurl.dll" Source="files\$(var.Folder)\libcurl.dll"/>
         <File Id="jansson$(var.Folder).dll" Name="jansson$(var.Folder).dll" Source="files\$(var.Folder)\jansson$(var.Folder).dll"/>
         <File Id="hiparamemscandll.dll" Name="hiparamemscandll.dll" Source="files\$(var.Folder)\hiparamemscandll.dll"/>
         <File Id="hiparamemscan.sys" Name="hiparamemscan.sys" Source="files\$(var.Folder)\hiparamemscan.sys"/>
         
        <File Id="msvcr120.dll" Name="msvcr120.dll" Source="files\$(var.Folder)\msvcr120.dll"/>
        <File Id="msvcp120.dll" Name="msvcp120.dll" Source="files\$(var.Folder)\msvcp120.dll"/>
        <File Id="mfc120u.dll" Name="mfc120u.dll" Source="files\$(var.Folder)\mfc120u.dll"/>
      
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Scanner" ForceDeleteOnUninstall="yes">
        
          <RegistryValue Name="DisplayName" Value="Scanner" Type="string" Action="write" />
          <RegistryValue Name="Group" Value="FSFilter Content Screener" Type="string" Action="write" />
          <RegistryValue Name="Description" Value="Scanner mini-filter driver" Type="string" Action="write" />
        
          <RegistryValue Name="ImagePath" Value="[$(var.PlatformSystemFolder)]drivers\scanner.sys" Type="string" />
          <RegistryValue Name="Start" Value="3" Type="integer"/>
          <RegistryValue Name="SupportedFeatures" Value="3" Type="integer" />
          <RegistryValue Name="Type" Value="2" Type="integer" />
          <RegistryValue Name="Tag" Value="4" Type="integer" />
          <RegistryValue Name="DependOnService" Value="FltMgr" Type="multiString" />
          <RegistryValue Name="ErrorControl" Value="1" Type="integer" />
          <RegistryValue Name="Extensions" Value="exe" Type="multiString" Action="append" />
        
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Scanner\Instances" >
          <RegistryValue Name="DefaultInstance" Value="Scanner Instance" Type="string" Action="write" />
        </RegistryKey>
        
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Scanner\Instances\Scanner Instance" >
          <RegistryValue  Name="Altitude" Value="265000" Type="string" />
          <RegistryValue Name="Flags" Value="0" Type="integer"/>
        </RegistryKey>

      </Component> 
      
		</ComponentGroup>
	</Fragment>
</Wix>